In [1]:
function grades_array()
    name = ["Bob", "sally", "Alice","Hank"]
    age = [17,18,20,19]
    grade_2020 = [5.0,1.0,8.5,4.0]
    (; name, age, grade_2020)
end

grades_array (generic function with 1 method)

In [5]:
function second_row()
    name, age, grade_2020 = grades_array()
    i = 2
    row = (name[i], age[i], grade_2020[i])
end

second_row (generic function with 1 method)

In [6]:
second_row()

("sally", 18, 1.0)

In [7]:
grades_array()

(name = ["Bob", "sally", "Alice", "Hank"], age = [17, 18, 20, 19], grade_2020 = [5.0, 1.0, 8.5, 4.0])

In [9]:
function row_alice()
    names = grades_array().name
    i = findfirst(names .== "Alice")
end

row_alice (generic function with 1 method)

In [10]:
row_alice()

3

In [12]:
using DataFrames
function grade_2020()
name = ["Sally","Alice","Bob","Hank"]
grade_2020 = [1,5,8.5,4]
DataFrame(; name,grade_2020)
end

grade_2020 (generic function with 1 method)

In [13]:
grade_2020()

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Alice          5.0
   3 │ Bob            8.5
   4 │ Hank           4.0

In [16]:
using CSV
function write_grades_csv()
    path = "grades.csv"
    CSV.write(path, grade_2020())
end

write_grades_csv (generic function with 1 method)

In [17]:
path = write_grades_csv()
read(path, String)

"name,grade_2020\nSally,1.0\nAlice,5.0\nBob,8.5\nHank,4.0\n"

In [21]:
A = [
    [1 2 3]
    [4 5 6]
    [7 8 9]
]
B = [
    [7 8 9]
    [4 5 6]
    [1 2 3]
]

3×3 Matrix{Int64}:
 7  8  9
 4  5  6
 1  2  3

In [22]:
A * B

3×3 Matrix{Int64}:
 18   24   30
 54   69   84
 90  114  138

In [24]:
using RDatasets
data = dataset("MASS","Boston")
println("Size of the dataset is :",size(data))
describe(data)

Size of the dataset is :(506, 14)

14×7 DataFrame
 Row │ variable  mean        min        median     max       nmissing  eltype  ⋯
     │ Symbol    Float64     Real       Float64    Real      Int64     DataTyp ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Crim        3.61352     0.00632    0.25651   88.9762         0  Float64 ⋯
   2 │ Zn         11.3636      0.0        0.0      100.0            0  Float64
   3 │ Indus      11.1368      0.46       9.69      27.74           0  Float64
   4 │ Chas        0.06917     0          0.0        1              0  Int64
   5 │ NOx         0.554695    0.385      0.538      0.871          0  Float64 ⋯
   6 │ Rm          6.28463     3.561      6.2085     8.78           0  Float64
   7 │ Age        68.5749      2.9       77.5      100.0            0  Float64
   8 │ Dis         3.79504     1.1296     3.20745   12.1265         0  Float64
   9 │ Rad         9.54941     1          5.0       24              0  Int64   ⋯
  10 │ Tax       408.237     187        330.0      711              0  Int64
  11 │ PTRatio    18.4555     12.6       19.05      22.0            0  Float64
  12 │ Black     356.674       0.32     391.44     396.9            0  Float64
  13 │ LStat      12.6531      1.73      11.36      37.97           0  Float64 ⋯
  14 │ MedV       22.5328      5.0       21.2       50.0            0  Float64
                                                                1 column omitted

In [25]:
using DataFrames, RDatasets
commodities = ["crude", "gas","gold","silver"]
last_price = [4.2,11.3,12.1,missing]
df = DataFrame(commod = commodities, price = last_price)

4×2 DataFrame
 Row │ commod  price
     │ String  Float64?
─────┼───────────────────
   1 │ crude         4.2
   2 │ gas          11.3
   3 │ gold         12.1
   4 │ silver  missing

In [26]:
df.price

4-element Vector{Union{Missing, Float64}}:
  4.2
 11.3
 12.1
   missing

In [27]:
df.commod

4-element Vector{String}:
 "crude"
 "gas"
 "gold"
 "silver"

In [29]:
DataFrames.describe(df)

2×7 DataFrame
 Row │ variable  mean    min    median  max     nmissing  eltype               ⋯
     │ Symbol    Union…  Any    Union…  Any     Int64     Type                 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ commod            crude          silver         0  String               ⋯
   2 │ price     9.2     4.2    11.3    12.1           1  Union{Missing, Float
                                                                1 column omitted